html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 100%;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 20rem;
    display: flex;
    color: #fff;
}

header {
    align-items: flex-start;
    background-image: url(Applications/Frontend/img/top.svg);
}

header .floater, footer .floater {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#toplogo {
    flex: 1;
    display: flex;
    align-items: center;
}

#toplogo span {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 400;
}

footer {
    align-items: flex-end;
    background-image: url(Applications/Frontend/img/bottom.svg);
    padding-bottom: 1rem;
}

footer .floater {
    align-items: flex-start;
}

#copyright {
    flex: 1;
}

main {
    flex: 1;
}

nav {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    user-select: none;
    padding: 2rem;
}

nav li {
    display: inline-block;
    font-weight: 400;
}

#topnav {
    margin-right: .5rem;
}

#topnav a, #toplogin a {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 3rem;
    padding: .5rem 1rem .5rem 1rem;
}

#topnav a:hover, #signinButton:hover {
    border: 2px solid rgba(255, 255, 255, 0.25);
}

#toplogin {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    padding-left: .5rem;
}

#signupButton {
    background: rgba(255, 255, 255, 0.25);
}

#signupButton:hover {
    border: 2px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0.3);
}

.floater {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.portlet {
    background: #fff;
    border-radius: 1rem;
}

.portlet-head {
    color: #000;
    font-weight: 400;
}

.portlet-body {
    color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 650px) {
    #toplogo {
        display: none;
    }

    nav {
        flex-direction: column;
        padding: 1rem 0 0 0;
    }

    #toplogin {
        margin-top: 2rem;
        border: none;
        padding: 0;
    }

    header, footer {
        min-height: 12rem;
        background-size: cover;
    }
}